<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Somya Jasiwal</title>
  <meta charset="utf-8">
  <link rel="icon" href="https://raw.githubusercontent.com/somj57/Somya-jaiswal/master/som7.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="https://github.com/somj57"><img src="https://raw.githubusercontent.com/somj57/Somya-jaiswal/master/som7.png" height="30" class="nav-brand" alt=""></a> Somya Jaiswal</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- 6 -->
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/about">ABOUT US</a></li>
        <li id="contact"><a href="/contact">CONTACT US</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">
