<%- include("partials/header") -%>

<h1>Compose</h1><br>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="compostTitle">Title</label><br>
    <input type="" class="form-control" name="composeTitle" id="composeTitle" value=""><br>
    <label for="composeText">Post</label><br>
    <textarea class="form-control" name="composeText" id="composeText" rows="5" cols="100" placeholder="Enter Your Content Hear"></textarea><br>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
  </div>
</form>


<%- include("partials/footer") -%>
